{:deps
 {org.clojure/data.csv      {:mvn/version "1.0.0"}
  com.bhauman/figwheel-main {:mvn/version "0.2.11"}
  reagent                   {:mvn/version "1.0.0-alpha2"}}

 :paths ["src" "target" "resources"]

 :aliases {:dev {:main-opts ["-m" "figwheel.main"
                             "--build" "dev"
                             "--repl"]}}}
