;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[reagent "1.0.0-alpha2"]
  [re-frame "1.0.0"]
  [cljsjs/codemirror "5.44.0-1"]]

 :dev-http {9090 "public/"}

 :builds
 {:app {:output-dir "public/compiledjs/"
        :asset-path "compiledjs"
        :target     :browser
        :modules    {:main {:init-fn model-dsl.frontend.main/main}}
        :devtools   {:after-load model-dsl.frontend.main/reload}}}}
