/* style */
body {
	  /* color: red; */
}

#model-container {
    display: flex;
    justify-content: space-around;
}

#title-container {
    display: flex;
    justify-content: center;
}

#output {
    display: flex;
    justify-content: center;
}
